@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Berkshire Swash', cursive;
}

#hero {
  background-color: #eaecf9;
  padding: 0px 30px;
  min-height: 100vh;
  height: 100vh;
}

nav {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}


a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #a8b4ff;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;
}

h1 {
  font-size: 56px;
  margin-top: 0;
  margin-bottom: 24px;
}

.display-text {
  max-width: 736px;
}

.display-paragraph {
  max-width: 496px;
}

p {
  line-height: 180%;
  margin-bottom: 64px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.primary-button {
  border: none;
  background-color: black;
  color: white;
  padding: 16px 48px;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.primary-button::after {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  top: 6px;
  left: 6px;
}

.display-container {
  display: flex;
  height: calc(100% - 38px);
  align-items: center;
}

.underline {
  background-color: #A8B4FF;
}

.underline {
  position: relative;
}

/* .underline::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
} */

.container {
  max-width: 1120px;
  margin: 0 auto;
  height: 100%;
}

/* WORK */
#work {
  min-height: 100vh;
  padding: 0 30px;
}

.flex-container {
  height: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

h3 {
  color: #B7B4B9;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.category {
  height: 10%;
  display: flex;
  align-items: center;
}

.category-item {
  padding: 6px 10px;
  background-color: #EAECF9;
  margin-right: 16px;
}

p.description {
  max-width: 445px;
}

.display-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.project {
  height: auto;
  padding-top: 150px;
  padding-bottom: 150px;
}


/* FOOTRER */
#footer {
  background-color: #eaecf9;
  padding: 0px 30px;
  min-height: 50;
  padding-top: 50px;
}

.flex-footer {
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.footer-paragraph {
  max-width: 544px;
}

.footer-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Work Sans', sans-serif; */


@media (max-width: 320px) {
  .display-text h1 {
    font-size: 32px;
  }

  .flex-container {
    flex-direction: column;
  }

  .project {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    margin-bottom: 32px;
  }


  iframe {
    max-width: 290px;
    max-height: 300px;
    margin-top: 30px;
  }

  h1 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 24px;
  }
}